<! DOCTYPE html>
<html  lang = " en "  dir = " ltr ">
  <head>
    <meta  charset = " utf-8 ">
    <title > Info de Pizzaria </title>
    <link  rel = "stylesheet"  type="text/css"  href = "css/css.css ">
    <link  rel = "icon"  type="img/png"  href = "img/icon.png "/>
  </head>
  <body>
    <header>
    <nav  id = "menu">

       <img  id = "logo"  src = "img/icon.png"  alt=""/>

         <a href="login.html"><p>__</p>LOGIN </a>
         <a href="carro.html"><p>__</p>CARRINHO </a>
         <a href="card.html"><p>__</p>CARDÁPIO </a>
         <a href="index.html"><p>__</p>HOME </a>

    </nav>
  </header>

   <section>
      <img src="img/pizza.jpg"  width="100%" height="750px" alt =""/>
   </section>

   <div class="tam"></div>

   <section>
      <img src="img/jogo.png" width="100%" alt =""/>
   </section>

   <div class="tam"></div>

    <section>

    <div class="destaques">
      <div>
        <img  src="img/prod01.jpg " height="200px" width="250px"/>
        <span>Salame asiático</span><br/>
        <span>R$ 56,00</span>
		<form action="carro.html">
           <input type="submit" value="COMPRAR">
        </form>
      </div>
      <div>
        <img  src="img/prod02.jpg" height="200px" width="250px"/>
        <span>Pizza Vegana</span><br/>
        <span>R$ 40,00</span>
		<form action="carro.html">
           <input type="submit" value="COMPRAR">
        </form>
      </div>
      <div>
        <img  src="img/prod03.jpg" height="200px" width="250px"/>
        <span>Calabresa</span><br/>
        <span>R$ 45,00</span>
		<form action="carro.html">
           <input type="submit" value="COMPRAR">
        </form>
      </div>
      <div>
        <img  src="img/prod04.jpg" height="200px" width="250px"/>
        <span>Quatro Queijos</span><br/>
        <span>R$ 35,00</span>
		<form action="carro.html">
           <input type="submit" value="COMPRAR">
        </form>
      </div>
    </div>

    </section>

    <div class="tam">  </div>

     <footer>
       <div style="height:20px;"></div>
        <p id="footer"> Realizado por Dionatan Rodrigues | 55 55 98426-8328 </p>
        <p id="footer"> Email para contato | dionatanrodrigues351@gmail.com </p>
     </footer>
  </body>
  <script  type="text/javascript" src="js/js.js"> </script>
</html>
